*{/*universal settings until set otherwise below*/
  margin: 0;
}
body{
  background-color: #d3b886;
  min-width: 600px;
}/*-------------------------------------*/
main{
    background-color: #FFFFFF;
      height: 800px;
      font-family: Arial;
      font-size: 18px;
}/*-------------------------------------*/
#nav{
  background-color: #4f5153;
  position: relative;
  top: 35px;
  z-index: 10;/*higher z index comes in front of other text*/
}/*-------------------------------------*/
#nav_wrapper{
  width: auto;
  margin: 0;
  text-align: left;
}/*-------------------------------------*/
#nav li{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}/*-------------------------------------*/
#nav ul li{
  display: inline-block;
}/*-------------------------------------*/
#nav ul li:hover{
  background-color: #333;
}/*-------------------------------------*/
#nav ul li a,visited{
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}/*-------------------------------------*/
#nav ul li a:hover{
  color: #ccc;
  text-decoration: none;
}/*-------------------------------------*/
#nav ul li:hover ul{
  display: block;
}/*-------------------------------------*/
#nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
  border: 2px solid #222;
  border-top: 0;
  margin-left: -2px;
  min-width: 200px;
}/*-------------------------------------*/
#nav ul ul li{
  display: block;
  font-size: 12pt;
}/*-------------------------------------*/
#nav ul ul li a,visited{
  color: #ccc;
}/*-------------------------------------*/
#nav ul ul li a:hover{    /*all pages*/
  color: #099;
}/*-------------------------------------*/
#title{/*styling for title of pages (easier here than in the html file)*/
  height: 300px;
  margin: 0;
  background-size: cover;
  position: relative;
}/*-------------------------------------*/
h1{
  margin: 0;
  position: absolute;/*forces text to the bottom based on how far is specified after*/
  width: 100%;
  bottom: 20px;
  text-align: center;
  color: #ecdab9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;/*border for text*/
}
p{                        /*universal for all pages*/
  padding: 25px;
}
