*{/*universal settings until set otherwise below*/
  margin: 0;
}
body{
  background-color: #d3b886;
}/*-------------------------------------*/
main{
    background-color: #FFFFFF;
      height: 800px;
      font-family: Arial;
      font-size: 18px;
}/*-------------------------------------*/
#nav{
  background-color: #222;
}/*-------------------------------------*/
#nav_wrapper{
  width: auto;
  margin: 0;
  text-align: left;
}/*-------------------------------------*/
#nav li{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}/*-------------------------------------*/
#nav ul li{
  display: inline-block;
}/*-------------------------------------*/
#nav ul li:hover{
  background-color: #333;
}/*-------------------------------------*/
#nav ul li a,visited{
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}/*-------------------------------------*/
#nav ul li a:hover{
  color: #ccc;
  text-decoration: none;
}/*-------------------------------------*/
#nav ul li:hover ul{
  display: block;
}/*-------------------------------------*/
#nav ul ul{
  display: none;
  position: absolute;
  background-color: #333;
  border: 2px solid #222;
  border-top: 0;
  margin-left: -2px;
  min-width: 200px;
}/*-------------------------------------*/
#nav ul ul li{
  display: block;
  font-size: 12pt;
}/*-------------------------------------*/
#nav ul ul li a,visited{
  color: #ccc;
}/*-------------------------------------*/
#nav ul ul li a:hover{    /*all pages*/
  color: #099;
}/*-------------------------------------*/
#homeTitle{
  height: 300px;
  margin: 0;
  background-image: url("Photos/smokyConcert.JPG");
  background-size: cover;
}/*-------------------------------------*/
#countryTitle{
  height: 300px;
  margin: 0;
  background-image: url("Photos/country.JPG");
  background-size: cover;
}/*-------------------------------------*/
#europeanTitle{
  height: 300px;
  margin: 0;
  background-image: url("Photos/zeppelin.JPG");
  background-size: cover;
}/*-------------------------------------*/
h1{
  margin: 0;
  text-align: center;
}
p{                        /*universal for all pages*/
  padding: 25px;
}
